<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="http://localhost:8080/clients/add" method="post">
    <input type="text" name="name" id = "name"  placeholder="Введите имя пользователя">
    <input type="text" name="address" id = "address"  placeholder="Введите адрес пользователя">
    <button type="submit">добавить клиента</button>
</form>
<a href="http://localhost:8080/clients">Перейти на странцу информации о клиентах</a>

</body>
</html>